.characters{
    background: rgb(211, 204, 204);
    display: flex;
    border: 2px solid black;
    padding: 40px;
  }
  
  .text{
    text-align: center;
    font-size: 40px;
  
  }
  
  .App{
    
    display: flex;
    justify-content: center;
    justify-items: center;
  
  }
  .div{ 
  color: red;
    font-size: 150px;
  }
  body{
    background-color: rgb(49, 204, 62);
  }